POSTGRES_USER=root
POSTGRES_PASSWORD=root
POSTGRES_DB=api
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=root

NODE_ENV = development

JWT_SECRET = test-jwt-secret
JWT_EXP = 8h
HASH_ROUNDS = 10

RATE_LIMITER_TTL = 10
RATE_LIMITER_LIMIT = 2
